{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Login - Stockly</title>
</head>
<body>
    <main class="container">
        <form action="{% url 'login'%}" method="POST"> {% csrf_token %}
            <div class="titulo">
                <img src="{% static 'assets/logostockly.PNG' %}" alt="Logotipo da Stockly">
                <h1>Login</h1>
            </div>
            <div class="input-box">
                <input type="text" name="nome_login" placeholder="Usuário">
                <i class="bi bi-person"></i>
            </div>
            <div class="input-box">
                <input type="password" name="senha" placeholder="Senha">
                <i class="bi bi-shield-lock"></i>
            </div>
            <div class="button_entrar">
                <button><a href="#">Entrar</a></button>
            </div>
            <div class="cadastrar">
                <p>Não tem uma conta ainda? <a href="{% url "cadastro" %}">Cadastre-se</a></p>
            </div>
            {% if messages %}
                {% for message in messages%}
                    <p class="alert alert-primary" class='messages'>{{message}}</p>
                {% endfor%}
            {% endif%}
        </form>
    </main>
</body>
</html>