{% load static %}
<header class="bg-light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
                <img src="{% static 'assets/logostockly.png' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top m-1 me-5">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{message}}
                    </div>
                {% endfor %}                                                    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="{% url "mostrar_estoque" %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url "adicionar_novo_produto" %}">Adicionar Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url "cadastro" %}">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark mr-3" href="{% url "logout" %}">Sair</a>
                    </li>
                </ul>
                <form class="d-flex ms-3" role="search" method="GET" action="{% url 'buscar_produto' %}">
                    <input class="form-control me-2" type="search" name="buscar" placeholder="Procurar produto..." aria-label="Search">
                    <button class="btn btn-outline-success d-flex align-items-center justify-content-center" type="submit">
                        <img src="{% static 'assets/search.svg' %}" alt="Procurar" class="img-fluid">
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>